<mat-card class="main-card" *ngIf="user">
  <h1>{{user.username}}</h1>
  <h3>Imię: {{user.name}} {{user.surname}}</h3>
  <h3>Email: {{user.email}}</h3>
  <mat-tab-group>
    <mat-tab label="Twoje dane">
      <div *ngIf="error" class="alert alert-warning alert-dismissible fade show" role="alert">
        <button type="button" class="close" aria-label="Close" (click)="closeError()">
          <span aria-hidden="true">&times;</span>
        </button>
        Wypełnij wszystkie wymagane pola
      </div>
      <div *ngIf="isAlertDisplayed" class="alert alert-warning alert-dismissible fade show" role="alert">
        <button type="button" class="close" aria-label="Close" (click)="closeAlert()">
          <span aria-hidden="true">&times;</span>
        </button>
        Wypełnij numer konta bankowego poprawnie
      </div>
      <br>
      <button color="primary" style="float: right; min-width: 100px;" mat-raised-button
        (click)="editUserData()">Edytuj</button>
      <mat-form-field appearance="outline">
        <mat-label>Województwo</mat-label>
        <mat-select [disabled]="!editable" [(ngModel)]="selectedProvince" name="province" [(value)]="selectedProvince"
          ngDefaultControl>
          <mat-option *ngFor="let province of provinces" [value]="province">
            {{province.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Miejscowość</mat-label>
        <input [disabled]="!editable" matInput [(ngModel)]="user.city" name="city">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Kod pocztowy</mat-label>
        <input [disabled]="!editable" matInput [(ngModel)]="user.postCode" name="postCode">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Ulica</mat-label>
        <input [disabled]="!editable" matInput [(ngModel)]="user.street" name="street">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Numer konta bankowego</mat-label>
        <input [disabled]="!editable" matInput [(ngModel)]="user.bankAccountNumber" name="bankAccountNumber"
          maxlength="26">
      </mat-form-field><br>
      <button *ngIf="editable" color="primary" style="min-width: 100px;" mat-raised-button
        (click)="submit()">Zapisz</button>
    </mat-tab>
    <mat-tab label="Twoje oferty">
      <mat-select [(ngModel)]="selectedState" name="offerState" placeholder="Wybierz status oglądanych ogłoszeń"
        style="text-align: center; height: 30px; margin-top: 10px;">
        <mat-option *ngFor="let offerState of offerStates" [value]="offerState" style="text-align: center;"
          (click)="getOffers()">
          {{translateState(offerState)}}
        </mat-option>
      </mat-select>
      <div *ngIf="offersPaginated && offersPaginated.items.length > 0; else noOffers">
        <mat-card class="offers-card" *ngFor="let offer of offersPaginated.items" style="display: flex;">
          <div class="container" style="flex-basis: 10%" [routerLink]="['/offer/'+offer.id]">
            <img [src]="offer.image.imageData" class="image">
          </div>
          <div class="offer-information" style="flex-basis: 80%" [routerLink]="['/offer/'+offer.id]">
            <h1>{{offer.title}}</h1>
            <h2>Status: {{translateState(offerState)}}</h2>
            <h4>Pozostała ilość produktów: {{offer.productCount}}</h4>
            <h2>Cena za sztukę: {{offer.priceForOneProduct | currency:'':''}} zł</h2>
          </div>
          <div style="flex-basis: 10%">
            <button *ngIf="offer.state === offerState.Awaiting" mat-raised-button color="warn" type="submit" (click)="endAuction(offer)">Zakończ aukcję</button>
          </div>
        </mat-card>
      </div>
      <ng-template #noOffers>
        <mat-card class="mat-offers-card" style="text-align: center;">
          <mat-card-content style="text-align: center;">Brak ogłoszeń</mat-card-content>
        </mat-card>
      </ng-template>
      <div class="paginator" *ngIf="offersPaginated && offersPaginated.items.length > 0">
        <mat-paginator #paginator [pageSize]="paginationOffers.pageSize" [pageSizeOptions]="[5, 10, 20, 50]"
          [length]="offersPaginated.totalCount" [pageIndex]="paginationOffers.pageIndex"
          (page)="pageEvent = handlePageOffers($event)">
        </mat-paginator>
      </div>
    </mat-tab>
    <mat-tab label="Zakupione">
      <mat-select [(ngModel)]="selectedStatus" name="orderStatus" placeholder="Wybierz status oglądanych zamówień"
        style="text-align: center; height: 30px; margin-top: 10px;">
        <mat-option *ngFor="let orderStatus of orderStatuses" [value]="orderStatus" style="text-align: center;"
          (click)="getOrders()">
          {{translateStatus(orderStatus)}}
        </mat-option>
      </mat-select>
      <div *ngIf="ordersPaginated && ordersPaginated.items.length > 0; else noOrders">
        <mat-card class="offers-card" *ngFor="let order of ordersPaginated.items" style="display: flex;">
          <div class="container" style="flex-basis: 10%" [routerLink]="['/offer/'+order.offer.id]">
            <img [src]="order.offer.image.imageData" class="image">
          </div>
          <div class="offer-information" style="flex-basis: 80%" [routerLink]="['/offer/'+order.offer.id]">
            <h1>{{order.offer.title}}</h1>
            <h2>Status zamówienia: <order-status-i18n [key]="order.orderStatus"></order-status-i18n>
            </h2>
            <h2>Cena zamówienia: {{order.fullPrice | currency:'':''}} zł</h2>
          </div>
          <div style="flex-basis: 10%">
            <button *ngIf="order.orderStatus === orderStatus.AwaitingForPayment" mat-raised-button class="green-button"
              type="submit" (click)="completePayment(order)">Dokończ płatność</button>
            <button *ngIf="order.orderStatus === orderStatus.AwaitingForPayment && order.offer.offerType !== offerType.Auction" mat-raised-button color="warn"
              style="width: 145px; margin: 10px 0px 10px 0px" type="submit" (click)="cancelOrder(order)">Anuluj
              zamówienie</button>
            <button *ngIf="order.orderStatus === orderStatus.InDelivery" mat-raised-button color="primary" type="submit"
              (click)="markAsDelivered(order)">Przesyłka dostarczona</button>
            <button *ngIf="order.orderStatus === orderStatus.Delivered && !order.comment" mat-raised-button
              color="accent" type="submit" (click)="addComment(order)">Dodaj komentarz</button>
            <button *ngIf="order.orderStatus === orderStatus.Delivered && order.comment" mat-raised-button
              color="accent" type="submit" (click)="editComment(order)">Edytuj komentarz</button>
          </div>
        </mat-card>
      </div>
      <ng-template #noOrders>
        <mat-card class="mat-offers-card" style="text-align: center;">
          <mat-card-content style="text-align: center;">Brak zamówień</mat-card-content>
        </mat-card>
      </ng-template>
      <div class="paginator" *ngIf="ordersPaginated && ordersPaginated.items.length > 0">
        <mat-paginator #paginatorOrders [pageSize]="paginationOrders.pageSize" [pageSizeOptions]="[5, 10, 20, 50]"
          [length]="ordersPaginated.totalCount" [pageIndex]="paginationOrders.pageIndex"
          (page)="pageEvent = handlePageOrders($event)">
        </mat-paginator>
      </div>
    </mat-tab>
    <mat-tab label="Sprzedane">
      <mat-select [(ngModel)]="selectedStatus" name="orderStatus" placeholder="Wybierz status oglądanych zamówień"
        style="text-align: center; height: 30px; margin-top: 10px;">
        <mat-option *ngFor="let orderStatus of orderStatuses" [value]="orderStatus" style="text-align: center;"
          (click)="getOrdersSold()">
          {{translateStatus(orderStatus)}}
        </mat-option>
      </mat-select>
      <div *ngIf="ordersSoldPaginated && ordersSoldPaginated.items.length > 0; else noOrdersSold">
        <mat-card class="offers-card" *ngFor="let order of ordersSoldPaginated.items" style="display: flex;">
          <div class="container" style="flex-basis: 10%" [routerLink]="['/offer/'+order.offer.id]">
            <img [src]="order.offer.image.imageData" class="image">
          </div>
          <div class="offer-information" style="flex-basis: 80%" [routerLink]="['/offer/'+order.offer.id]">
            <h1>{{order.offer.title}}</h1>
            <h2>Status zamówienia: <order-status-i18n [key]="order.orderStatus"></order-status-i18n>
            </h2>
            <h4>Wysyłka na adres: {{order.destinationCity}} {{order.destinationPostCode}} - {{order.destinationStreet}}
            </h4>
            <h4>Sposób dostawy: {{order.delivery.deliveryMethodName}}</h4>
            <h2>Cena zamówienia: {{order.fullPrice | currency:'':''}} zł</h2>
          </div>
          <div style="flex-basis: 10%">
            <button *ngIf="order.orderStatus === orderStatus.Paid" mat-raised-button color="primary" type="submit"
              (click)="markAsInDelivery(order)">Przesyłka wysłana</button>
          </div>
        </mat-card>
      </div>
      <ng-template #noOrdersSold>
        <mat-card class="mat-offers-card" style="text-align: center;">
          <mat-card-content style="text-align: center;">Brak zamówień</mat-card-content>
        </mat-card>
      </ng-template>
      <div class="paginator" *ngIf="ordersSoldPaginated && ordersSoldPaginated.items.length > 0">
        <mat-paginator #paginatorOrders [pageSize]="paginationOrdersSold.pageSize" [pageSizeOptions]="[5, 10, 20, 50]"
          [length]="ordersSoldPaginated.totalCount" [pageIndex]="paginationOrdersSold.pageIndex"
          (page)="pageEvent = handlePageOrdersSold($event)">
        </mat-paginator>
      </div>
    </mat-tab>
    <mat-tab label="Aukcje">
      <app-user-bids [userId]="this.user.id"></app-user-bids>
    </mat-tab>
    <mat-tab label="Komentarze">
      <app-comments [userId]="this.user.id"></app-comments>
    </mat-tab>
  </mat-tab-group>
</mat-card>