<mat-card class="main-card" *ngIf="user">
  <h1>{{user.username}}</h1>
  <h3>Imię: {{user.name}} {{user.surname}}</h3>
  <h3>Email: {{user.email}}</h3>
  <mat-tab-group>
    <mat-tab label="Twoje dane">
      <br>
      <button color="primary" style="float: right; min-width: 100px;" mat-raised-button
        (click)="editUserData()">Edytuj</button>
      <mat-form-field appearance="outline">
        <mat-label>Województwo</mat-label>
        <mat-select [disabled]="!editable" [(ngModel)]="selectedProvince" name="province" [(value)]="selectedProvince" ngDefaultControl>
          <mat-option *ngFor="let province of provinces" [value]="province">
            {{province.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Miejscowość</mat-label>
        <input [disabled]="!editable" matInput [(ngModel)]="user.city" name="city">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Kod pocztowy</mat-label>
        <input [disabled]="!editable" matInput [(ngModel)]="user.postCode" name="postCode">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Ulica</mat-label>
        <input [disabled]="!editable" matInput [(ngModel)]="user.street" name="street">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Numer konta bankowego</mat-label>
        <input [disabled]="!editable" matInput [(ngModel)]="user.bankAccountNumber" name="bankAccountNumber">
      </mat-form-field><br>
      <button *ngIf="editable" color="primary" style="min-width: 100px;" mat-raised-button
        (click)="submit()">Zapisz</button>
    </mat-tab>
    <mat-tab label="Twoje oferty">
      <div *ngIf="offersPaginated && offersPaginated.items.length > 0; else noOffers">
        <mat-card class="offers-card" *ngFor="let offer of offersPaginated.items" style="display: flex;">
          <div class="container" style="flex-basis: 10%" [routerLink]="['/offer/'+offer.id]">
            <img [src]="offer.image.imageData" class="image">
          </div>
          <div class="offer-information" style="flex-basis: 80%" [routerLink]="['/offer/'+offer.id]">
            <h1>{{offer.title}}</h1>
            <h4>Pozostała ilość produktów: {{offer.productCount}}</h4>
            <h2>Cena za sztukę: {{offer.priceForOneProduct | currency:'':''}} zł</h2>
          </div>
          <div style="flex-basis: 10%">
            <button mat-raised-button color="warn" type="submit" (click)="endAuction(offer)">Zakończ aukcję</button>
          </div>
        </mat-card>
      </div>
      <ng-template #noOffers>
        <mat-card class="mat-offers-card" style="text-align: center;">
          <mat-card-content style="text-align: center;">Brak ogłoszeń</mat-card-content>
        </mat-card>
      </ng-template>
      <div class="paginator" *ngIf="offersPaginated && offersPaginated.items.length > 0">
        <mat-paginator #paginator [pageSize]="paginationOffers.pageSize" [pageSizeOptions]="[5, 10, 20, 50]"
          [length]="offersPaginated.totalCount" [pageIndex]="paginationOffers.pageIndex"
          (page)="pageEvent = handlePageOffers($event)">
        </mat-paginator>
      </div>
    </mat-tab>
    <mat-tab label="Zakupione">
      <div *ngIf="ordersPaginated && ordersPaginated.items.length > 0; else noOrders">
        <mat-card class="offers-card"></mat-card>
      </div>
      <ng-template #noOrders>
        <mat-card class="mat-offers-card" style="text-align: center;">
          <mat-card-content style="text-align: center;">Brak zamówień</mat-card-content>
        </mat-card>
      </ng-template>
      <div class="paginator" *ngIf="ordersPaginated && ordersPaginated.items.length > 0">
        <mat-paginator #paginatorOrders [pageSize]="paginationOrders.pageSize" [pageSizeOptions]="[5, 10, 20, 50]"
          [length]="ordersPaginated.totalCount" [pageIndex]="paginationOrders.pageIndex"
          (page)="pageEvent = handlePageOrder($event)">
        </mat-paginator>
      </div>
    </mat-tab>
    <mat-tab label="Komentarze">
      <app-comments [userId]="this.user.id"></app-comments>
    </mat-tab>
  </mat-tab-group>
</mat-card>