.flex {
  display: flex;
  flex-wrap: wrap;
}

mat-card {
  position: relative;
  display: flex;
  width: 100%;
  min-height: 10%;
  min-width: 550px;
  margin: 1em auto;
}

img{
  cursor: pointer;
}

.title{
  cursor: pointer;
}

.offer-information {
  font-size: 64px;
  margin-left: 10%; 
}

.summary-information {
  font-size: 30px;
  vertical-align: center;
}

.container{ 
  vertical-align: center;
  min-width: 350px;
}

.image {
  max-width: 300px;
  max-height: 300px;
  margin-left: 55px; 
}

input[type=number] {
  -moz-appearance: textfield;
  text-align: center;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
  text-align: center;
}