<div *ngIf="offers.length > 0; else noOffers">
  <mat-card *ngFor="let offer of dataSource">
    <div class="container">
      <img [src]="offer.image.imageData" class="image">
    </div>
    <div class="offer-information">
      <h1>{{offer.title}}</h1>
      <h2>{{offer.priceForOneProduct}} zł</h2>
    </div>
  </mat-card>
</div>
<ng-template #noOffers>
  <mat-card style="text-align: center;" title="Nie posiadasz żadnych aktywnych ogłoszeń">
    <mat-card-content style="text-align: center;">Nie posiadasz żadnych aktywnych ogłoszeń</mat-card-content>
  </mat-card>
</ng-template>

<div class="paginator">
  <mat-paginator #paginator [pageSize]="pageSize" [pageSizeOptions]="[5, 10, 20]" [length]="totalSize"
      [pageIndex]="currentPage" (page)="pageEvent = handlePage($event)">
  </mat-paginator>
</div>