<mat-toolbar color="primary">
    <a mat-button [routerLink]="'./home'"><h1>Serwis aukcyjny</h1></a>
    <a mat-button [routerLink]="'./account'">Twoje konto</a>
    <a mat-button [routerLink]="'./messages'">Wiadomości</a>
    <a mat-button [routerLink]="'./favorites'">Ulubione</a>
    <div class="spacer"></div>
    <mat-form-field class=" search-field" floatLabel="never">
        <input matInput type="text" [placeholder]="'Czego szukasz?'">
        <mat-icon matSuffix class="fa fa-search" aria-hidden="true"></mat-icon>
    </mat-form-field>
</mat-toolbar>