a {
  color: #FFF;
}

a:hover {
  color: #FFF
}

.spacer {
  flex: 1 0.1 auto;
}

.search-field { 
  flex: 0.3 0.1 auto;
}

mat-toolbar {
  position: sticky;
  position: -webkit-sticky;
  top: 0; 
  z-index: 9999; 
}

mat-icon:hover {
  cursor: pointer;
}

::ng-deep .mat-badge-content {
  left: 92px !important;
  top: -8px !important;
}