a {
  color: #FFF;
}
a:hover {
  color: #FFF
}
.spacer {
  flex: 0.4 0.1 auto;
}
.search-field { 
  flex: 0.3 0.1 auto;
}
.navbar{
  position: sticky;
  position: -webkit-sticky;
  top: 0; 
  z-index: 9999; 
  overflow: hidden;
}