<mat-toolbar color="primary">
    <a mat-button [routerLink]="'./home'"><h1>Serwis aukcyjny</h1></a>
    <a mat-button [routerLink]="'./account'">Twoje konto</a>
    <a mat-button [routerLink]="'./messages'">Wiadomości</a>
    <a mat-button [routerLink]="'./favorites'">Ulubione</a>
    <div class="spacer"></div>
    <mat-form-field class="example-form-field" floatLabel="never">
        <input matInput type="text" class="search-field" [placeholder]="'Czego szukasz?'">
    </mat-form-field>
</mat-toolbar>