::ng-deep { /* to penetrate <ngx-editor> CSS styling */
  .NgxEditor__Content {
    min-height: 250px; /* make all of the editor area clickable */
  }
}

mat-form-field {
  width: 100%;
  min-width: 700px;
}