mat-card {
    position: absolute;  
    width: 17%;
    min-height: 10%;
    margin: 1em auto;
    top: 6.5%;
    left: 6%;
}

mat-form-field {
    width: 100%;
}

.xd {
    width: 90%;
    margin-left: auto;
    margin-right: auto; 
}

.half-width {
    width: 48%;
}

.center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.right {
    float: right;
    width: 35%;
    border: 2px solid #652fbd;
    right: 9%;
}

.left {
    width: 35%;
    border: 2px solid #652fbd;
    left: 9%;
}

.filters {
    margin: 2em auto;
    text-align: left;
    display: block;
}

.price-range {
    margin-left: auto;
    margin-right: auto;  
    width: 100%;
    height: fit-content;
}

.right-align {
    text-align: right;
}

h1 {
    font-size: 1.3em;
    font-weight: bold;
    margin: 0;
    margin-top: 10px;
}   

.category-button {
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden; 
    color: blue;
}