.create-offer {
  margin: 2em auto;
  text-align: center;
  display: block;
}

mat-card {
  min-height: 10%;
  width: 60%;
  margin: 2em auto;
  text-align: center;
}

mat-form-field {
  width: 50%;
  padding-right: 5%;
}

.card-container {
  text-align: left;
}