mat-card {
  max-width: 500px;
  max-height: 700px;
  margin: 2em auto;
  text-align: center;
  background-color: transparentize($color: #FFFFFF, $amount: 0.55);
  z-index: 3;
}
.signup-content {
  padding: 60px 1rem;
  height: 80%;
  width: 100%;
  overflow: hidden;
}
.full-width-input {
  width: 100%;
}
