.comment-card {
  width: 100%;
  min-height: 10%;
}

.paginator {
  width: 50%;
  left: 50%;
  margin-top: 8px;
  position: relative;
}

.filled{
  color: gold;
  font-size: 24px;
}

.notfilled{
  color:#6e6a6a;
  font-size: 24px;
}