<mat-card class="main-card">
  <div class="row">
    <div style="width: 25%;">
      <mat-card class="mailbox-card">
        <button color="primary" class="new-message-button" mat-raised-button (click)="createMessage()">
          Nowa wiadomość
        </button>
        <button [color]="getButtonColor(mailbox)" *ngFor="let mailbox of mailboxTypes" class="mailbox-button"
          mat-raised-button (click)="changeMailbox(mailbox)">
          <mat-icon [ngClass]="getMailboxIcon(mailbox)" aria-hidden="true" style="margin-right: 4px;"></mat-icon>
          <mailbox-type-i18n [key]="mailbox"></mailbox-type-i18n>
        </button>
      </mat-card>
    </div>
    <div style="width: 75%;">
      <mat-card class="mailbox-card">
        <div *ngIf="displayingMessage">
          <app-display-message [message]="displayedMessage" (displayingMessage)="stopDisplayingMessage()" (reply)="createReply($event)"></app-display-message>
        </div>
        <div *ngIf="!creatingMessage && !displayingMessage" [ngSwitch]="currentMailbox">
          <app-inbox *ngSwitchCase='0' (displayingMessage)="displayMessage($event)"></app-inbox>
          <app-sent *ngSwitchCase='1' (displayingMessage)="displayMessage($event)"></app-sent>
          <app-trash *ngSwitchCase='2' (displayingMessage)="displayMessage($event)"></app-trash>
        </div>
        <div *ngIf="creatingMessage">
          <app-create-message [reply]="reply" (creatingMessage)="goBackToMailbox($event)"></app-create-message>
        </div>
      </mat-card>
    </div>
  </div>
</mat-card>