mat-card {
  min-width: 500px;
  min-height: 10%;
  margin: 1em auto;
}

mat-card:hover {
  cursor: pointer;
}

.offer-information {
  margin-left: 24px;
  font-size: 64px;
}

.container{ 
  margin: 0px;
  padding: 0px;
  width: 175px;
  height: 175px;
}

.image {
  max-width: 175px;
  max-height: 175px;
  vertical-align: middle;
}

.paginator {
  width: 25%;
  position: fixed;
  bottom: 0px;
  left: 75%;
}