<mat-card class="main-card" *ngIf="user && user.role != 1">
  <h1>{{user.username}}</h1>
  <h3>Imię: {{user.name}} {{user.surname}}</h3>
  <h3>Email: {{user.email}}</h3>
  <h3><a [routerLink]="['/userOffers/'+user.id]">Zobacz produkty tego użytkownika</a></h3>
  <h3><a [routerLink]="['/messages/'+user.id]">Skontaktuj się z tym użytkownikiem</a></h3>
  <mat-tab-group>
    <mat-tab label="Informacje o użytkowniku">
      <br>
      <h3>Województwo: {{user.province.name || '-'}}</h3>
      <h3>Miejscowość: {{user.city || '-'}}</h3>
      <h3>Kod pocztowy: {{user.zipCode || '-'}}</h3>
      <h3>Ulica: {{user.street || '-'}}</h3>
    </mat-tab>
    <mat-tab label="Komentarze">
      <app-comments [userId]="user.id"></app-comments>
    </mat-tab>
  </mat-tab-group>
</mat-card>
<mat-card  class="main-card" *ngIf="user && user.role == 1">
  <h1><b>Administrator</b></h1>
  <h3>Imię: {{user.name}} </h3>
  <h3>Email: {{user.email}}</h3>
  <h3><a [routerLink]="['/messages/'+user.id]">Skontaktuj się z tym użytkownikiem</a></h3>
</mat-card>