mat-card {
  max-width: 500px;
  max-height: 700px;
  margin: 2em auto;
  text-align: center;
  background-color: transparentize($color: #FFFFFF, $amount: 0.35);
}
.signin-content {
  padding: 60px 1rem;
}
.full-width-input {
  width: 100%;
}