<div *ngIf="offer">
  <mat-card>
    <div class="row flex">
      <div style="flex-basis: 55%">
        <ngx-gallery [options]="galleryOptions" [images]="galleryImages" class="ngx-gallery"></ngx-gallery>
      </div>
      <div style="flex-basis: 45%">
        <div class="title">{{offer.title}}
          <button *ngIf="user" style="float: right;" (click)="makeFavorite()" mat-icon-button>
            <mat-icon class="fas fa-star" [ngStyle]="{'color': getColor()}"></mat-icon>
          </button>
        </div>
        <div class="text">Od: <a [routerLink]="getRouterLink()">{{offer.seller.name}} {{offer.seller.surname}}
            ({{offer.seller.username}})</a></div>
        <div *ngIf="offer.offerType === offerType.BuyNow" class="text">Koszt: {{offer.priceForOneProduct |
          currency:'':''}} zł</div>
        <div *ngIf="offer.offerType === offerType.Auction && offer.bestBid" class="text">Obecna stawka:
          {{offer.bestBid.value |
          currency:'':''}} zł</div>
        <div *ngIf="offer.offerType === offerType.Auction && !offer.bestBid" class="text">Cena wywoławcza:
          {{offer.minimalBid |
          currency:'':''}} zł</div>
        <div class="text">Pozostała ilość sztuk: {{offer.productCount}}</div>
        <div class="text">Stan: <product-state-i18n [key]="offer.productState"></product-state-i18n>
        </div>
        <div class="text">Lokalizacja: {{offer.province}}, {{offer.city}}</div>
        <mat-button-toggle-group *ngIf="offer.offerType === offerType.BuyNow && offer.state === offerState.Awaiting"
          style="margin-top: 16px;">
          <mat-button-toggle (click)="decrementProductCount()">
            <mat-icon class="fas fa-minus"></mat-icon>
          </mat-button-toggle>
          <mat-button-toggle [isDisabled]="true">
            <mat-form-field appearance="outline" style="width: 100px">
              <mat-label>Ilość</mat-label>
              <input matInput type="number" name="quantity" [min]="1" [max]="offer.productCount"
                [(ngModel)]="productCount" (ngModelChange)="validateQuantity()" />
            </mat-form-field>
          </mat-button-toggle>
          <mat-button-toggle (click)="incrementProductCount()">
            <mat-icon class="fas fa-plus"></mat-icon>
          </mat-button-toggle>
        </mat-button-toggle-group>
        <button *ngIf="offer.offerType === offerType.BuyNow && offer.state === offerState.Awaiting" mat-raised-button
          color="primary" type="submit" class="buy-button" [disabled]="checkIfBuyingDisabled()" (click)="buyNow()">Kup
          teraz</button>
        <button *ngIf="offer.offerType === offerType.BuyNow && offer.state === offerState.Awaiting" mat-raised-button
          color="primary" type="submit" class="buy-button" [disabled]="checkIfBuyingDisabled()"
          (click)="addToCart()">Dodaj do
          koszyka</button>
        <button *ngIf="offer.offerType === offerType.Auction && offer.state === offerState.Awaiting" mat-raised-button
          color="primary" type="submit" class="buy-button" [disabled]="checkIfBuyingDisabled()"
          (click)="makeBid()">Licytuj</button>
      </div>
    </div>
  </mat-card>
  <mat-card>
    <div class="flex">
      <div style="flex-basis: 40%">
        <div class="title" style="margin-top: 16px;">Dane o produkcie</div><br>
        <div class="text">Kategoria: {{offer.category}}</div>
        <div class="text">Marka: {{offer.brand}}</div>
      </div>
      <div style="flex-basis: 60%">
        <div class="title" style="margin-top: 16px;">Opis</div><br>
        <div class="text">{{offer.description}}</div>
      </div>
    </div>
  </mat-card>
</div>