mat-card {
  margin: 1em auto;
  width: 60%;
  min-height: 200px;
}

.title {
  font-size: 32px;
  font-weight: bold;
  margin-top: 24px;
}

.text {
  font-size: 20px;
  margin-top: 24px;
}

.buy-button {
  margin-top: 15px; 
  width: 100%; 
  font-size: 24px;
}

.flex {
  display: flex;
  flex-wrap: wrap;
}