<div>
  <button mat-mini-fab color="primary" style="margin-right: 8px;" (click)="goBackToMailbox()">
    <mat-icon class="fa fa-arrow-left"></mat-icon>
  </button>
  <button mat-mini-fab color="primary" style="margin-right: 8px;" (click)="deleteMessage()">
    <mat-icon>delete</mat-icon>
  </button>
  <button mat-mini-fab color="primary" style="margin-right: 8px;" (click)="replyToMessage()">
    <mat-icon class="fa fa-reply"></mat-icon>
  </button>
  <button mat-mini-fab color="primary" style="margin-right: 8px;" (click)="replyToMessageAll()">
    <mat-icon class="fa fa-reply-all"></mat-icon>
  </button>
  <hr>
  <div>
    <h3>Nadawca: <a [routerLink]="['/userProfile/'+message.senderId]">{{message.sender}}</a></h3>
    <h3>Odbiorcy: <a *ngFor="let recipient of message.recipients; index as i"
        [routerLink]="['/userProfile/'+recipient.key]">{{recipient.value}}<span
          *ngIf="message.recipients.length > 1 && i < message.recipients.length - 1">, </span></a></h3>
    <h3>Data wysłania: {{message.sendDate | date:'short'}}</h3>
    <h1>Temat: {{message.topic}}</h1>
  </div>
  <hr>
  <div class="message-b">
    <div class="message-content" [innerHTML]="message.content"></div>
  </div>
</div>