<mat-card>
  <mat-stepper orientation="vertical" [linear]="true" #stepper *ngIf="offerWithDeliveryMethods">
    <mat-step>
      <div *ngFor="let offer of offerWithDeliveryMethods | keyvalue">
        <div *ngFor="let method of offer.value">
        </div>
        <ng-container [ngTemplateOutlet]="card"
          [ngTemplateOutletContext]="{offer: offer.key, deliveryMethods: offer.value}">
        </ng-container>
      </div>
      <button mat-raised-button color="primary" matStepperNext style="margin: 10px 0px 10px 0px;">Dalej</button>
    </mat-step>
    <mat-step [stepControl]="stripeTest">
      <form novalidate [formGroup]="stripeTest">
        <ng-template matStepLabel>Wypełnij informacje o karcie</ng-template>
        <mat-form-field appearance="outline" class="fill-container">
          <mat-label>Imię i nazwisko</mat-label>
          <input type="text" formControlName="name" matInput>
        </mat-form-field>
        <ngx-stripe-card [options]="cardOptions" [elementsOptions]="elementsOptions"></ngx-stripe-card>
        <button mat-raised-button color="primary" matStepperNext style="margin: 10px 0px 10px 0px;">Dalej</button>
      </form>
    </mat-step>
    <mat-step>
      <form (ngSubmit)="createOrder(offer.offerId)">
        <ng-template matStepLabel>Potwierdź</ng-template>
        <button mat-raised-button color="primary" matStepperNext style="margin: 10px 0px 10px 0px;">Zakończ</button>
      </form>
    </mat-step>
  </mat-stepper>
</mat-card>


<ng-template #card let-offer='offer' let-deliveryMethods='deliveryMethods'>
    <h2>{{offer.title}}</h2>
    <b> 
      Ilość produktów: {{offer.productsCount}}
      <br>
      Cena zamówienia: {{offer.priceForOneProduct * offer.productsCount}}
    </b>
    <br>
  <ng-template matStepLabel>Wybierz sposób dostawy</ng-template>
  <mat-radio-group>
    <mat-radio-button *ngFor="let deliveryMethod of deliveryMethods" [value]="deliveryMethod">
      {{deliveryMethod.deliveryMethodName}} - {{deliveryMethod.deliveryFullPrice}}zł
    </mat-radio-button>
  </mat-radio-group><br>

</ng-template>