<mat-card style="width: 60vw;">
  <mat-stepper orientation="vertical" [linear]="true" #stepper *ngIf="offers">
    <mat-step [stepControl]="deliveryMethods">
      <ng-template matStepLabel>Informacje o dostawie</ng-template>
      <div *ngFor="let offer of offers">
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            {{offer.title}}
          </mat-expansion-panel-header>
          <ng-container [ngTemplateOutlet]="card" [ngTemplateOutletContext]="{offer: offer}">
          </ng-container>
        </mat-expansion-panel>
      </div>
      <button mat-raised-button color="primary" matStepperNext style="margin: 10px 0px 10px 0px;"
        (click)="allSelected()">Dalej</button>
    </mat-step>
    <mat-step [stepControl]="stripeForm">
      <ng-template matStepLabel>Informacje o płatności</ng-template>
      <mat-form-field appearance="outline" class="fill-container">
        <mat-label>Imię i nazwisko</mat-label>
        <input type="text" [(ngModel)]="name" matInput>
      </mat-form-field>
      <ngx-stripe-card (change)="onChange($event)" [options]="cardOptions" [elementsOptions]="elementsOptions">
      </ngx-stripe-card>
      <button (click)="completedCardInfo()" mat-raised-button color="primary" matStepperNext
        style="margin: 10px 0px 10px 0px;">Dalej</button>
    </mat-step>
    <mat-step>
      <form (ngSubmit)="createOrders()">
        <ng-template matStepLabel>Potwierdź</ng-template>
        <button mat-raised-button color="primary" matStepperNext style="margin: 10px 0px 10px 0px;">Zakończ</button>
      </form>
    </mat-step>
  </mat-stepper>
</mat-card>

<ng-template #card let-offer='offer'>
  Ilość produktów: {{offer.productsCount}}
  <br>
  <b>
    Cena zamówienia: {{offer.priceForOneProduct * offer.productsCount | currency:'':''}} zł
  </b>
  <br>
  <br>
  <ng-template matStepLabel>Wybierz sposób dostawy</ng-template>
  <mat-radio-group>
    <mat-radio-button class="col-md-12" *ngFor="let deliveryMethod of offer.deliveryMethods" [value]="deliveryMethod"
      (change)="setOfferDeliveryMethod(offer, deliveryMethod)">
      {{deliveryMethod.deliveryMethodName}} - {{deliveryMethod.deliveryFullPrice}} zł
    </mat-radio-button>

  </mat-radio-group>
  <br>

  <lib-angular-inpost-geowidget [mapType]="mapType" [widgetType]="GeowidgetTypeEnum.MODAL"
    (onPointSelect)="selectPoint($event, offer)">
  </lib-angular-inpost-geowidget>
  <button mat-raised-button color="primary" style="margin-top: 16px; margin-bottom: 16px"
    (click)="angularInpostGeowidgetService.openModalWidget.next()"
    *ngIf="offer.selectedDeliveryMethod && offer.selectedDeliveryMethod.deliveryMethodName === 'Paczkomaty InPost'">Wybierz
    punkt dostawy</button>
  <br>

  <mat-form-field appearance="outline">
    <mat-label>Miasto</mat-label>
    <input type="text"
      [disabled]="offer.selectedDeliveryMethod && offer.selectedDeliveryMethod.deliveryMethodName === 'Paczkomaty InPost'"
      [(ngModel)]="offer.destinationCity" (ngModelChange)="allSelected()" matInput>
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Kod pocztowy</mat-label>
    <input type="text"
      [disabled]="offer.selectedDeliveryMethod && offer.selectedDeliveryMethod.deliveryMethodName === 'Paczkomaty InPost'"
      [(ngModel)]="offer.destinationPostCode" (ngModelChange)="allSelected()" matInput>
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Ulica, nr domu i mieszkania</mat-label>
    <input type="text"
      [disabled]="offer.selectedDeliveryMethod && offer.selectedDeliveryMethod.deliveryMethodName === 'Paczkomaty InPost'"
      [(ngModel)]="offer.destinationStreet" (ngModelChange)="allSelected()" matInput>
  </mat-form-field>

</ng-template>